# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Temporary files
tmp.py
tmp.ipynb

# VSCode
.vscode/

# Other files
about.txt
logo.txt